html {
  background-color: #231E21;
}
ul {
    color: teal;
	width: 500px;
    font-size: 30px;
	font-family: Lobster;
   }
   h1
   {
	   font-family: Abril Fatface;
	   color: red;
	   text-align: center;
	   line-height: 2;
       letter-spacing: 2px;
   }
   h2
   {
	   color: yellow;
	   line-height: 2;
       letter-spacing: 1px;

   }
   img
   {
  display: block;
  margin: 0 auto;
   }
   a
   {
	   color: purple;
	   font-size: 25px;
	   font-family: Courgette;
   }